@model IEnumerable<GenomeNext.Data.IdentityModel.AspNetRole>
@{
    ViewBag.Title = "Roles";
}

<h2>
    <span class="glyphicon glyphicon-random gn-green"></span>
    @ViewBag.Title
</h2>

@Html.BootstrapRowSpacer()

<div class="table-responsive">
    <table class="table table-hover table-bordered table-gn">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>
</div>