@{
    ViewBag.Title = "GenomeNext Terms";
}

@Html.BootstrapRowSpacer()
<h2>
    <span class="glyphicon glyphicon-th-large gn-green"></span>
    @ViewBag.Title
</h2>


@Html.Partial("TermsOfServiceContent")
