
<div id="PrivacyPolicyText">

    <p>
        Terms of Service
    </p>

    <div id="TermsOfServiceText">
        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <span style='font-size:10.0pt'>
                Welcome to GenomeNext! By using www.genomenext.com,
                secure.genomenext.com, or any related sites or mobile applications (the <b>“Site”</b>)
                operated by GenomeNext, LLC (“<b>GenomeNext</b>”, “<b>we</b>” or any other
                first person pronoun) in any way, including using, transmitting, downloading,
                or uploading any of the services or functionality (the “<b>Services</b>”) made
                available or enabled via the Site by GenomeNext, or merely browsing the Site,
                you agree to these Terms of Service (“<b>Terms of Service</b>”).  You may not
                use the Service, or accept these Terms of Service, if (a) you are not of legal
                age to form a binding contract with GenomeNext; or (b) you are prohibited by
                law from receiving or using the Service.  If you are entering into these Terms of
                Service on behalf of a company or other legal entity, you represent that you
                have the authority to bind such entity to these Terms of Service, in which case
                “you” or “your” shall refer to such entity.
            </span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <b>
                <u>
                    <span style='font-size:10.0pt'>
                        If you are obtaining access to the Services as a
                        result of a separate written agreement between GenomeNext and the entity with
                        which you are associated, however, these Terms of Service will not bind such
                        entity even if you have the authority to do so and such entity’s relationship
                        with GenomeNext will continue to be governed by such separate agreement (and
                        not these Terms of Service). You individually still must agree to be bound by
                        these Terms of Service to use our Services.
                    </span>
                </u>
            </b>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <span style='font-size:10.0pt'>
                Certain components of the Services may also be subject
                to a subscription or other agreement, posted guidelines, rules or terms of
                service (<b>“Additional Terms”</b>).  If there is any conflict between these
                Terms of Service and the Additional Terms, the Additional Terms take precedence
                in relation to that Service.  These Terms of Service, and any applicable
                Additional Terms, are referred to herein as the “<b>Terms</b>”.
            </span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <span style='font-size:10.0pt'>
                We know that your privacy is important. For this
                reason, we have created a privacy policy that describes our collection, use and
                disclosure practices regarding any personal information that you provide to us.
            </span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <span style='font-size:10.0pt'>
                GenomeNext may change the Terms from time to time at
                its sole discretion, and if GenomeNext makes any substantial changes, we will
                notify you by sending an email to the last email address you provided to us
                and/or by posting notice of the change on the Site.  Any material changes to
                these Terms will be effective upon the earlier of thirty (30) calendar days
                following our dispatch of an email notice to you or thirty (30) days following
                our posting of notice of the changes on our Site.  These changes will be
                effective immediately for new users of our Site or Service.  GenomeNext may
                require you to provide consent to the updated Terms in a specified manner
                before further use of the Services is permitted.  Otherwise, your continued use
                of the Site or the Services constitutes your acceptance of the changes.  Please
                regularly check the Site to view the then-current Terms.
            </span>
        </p>

        <p class=Legal2L1>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    ACCESS
                    Grant and Restrictions.
                </span>
            </b>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Access Grant.</span></b><span style='font-size:10.0pt'>
                Subject to the terms and conditions of these Terms, GenomeNext
                grants you a non-exclusive, non-transferable right to access and use the Services
                solely for your Non-Commercial Purpose (as defined below) during the Term. Nothing
                in these Terms will require GenomeNext to provide or entitle you to receive a
                copy of any software underlying the Service.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Non-Commercial Purpose</span></b><span style='font-size:10.0pt'>
                . THESE TERMS PERMITS USE OF THE SERVICES ONLY FOR
                NON-COMMERCIAL PURPOSES. “<b>Non-Commercial Purposes</b>” means solely for
                education or research but excludes any use of the Services as part of, or in
                any way in connection with, a product (including software) or service which is
                sold, offered for sale, licensed, leased, loaned or rented. For the avoidance
                of doubt, a commercial entity may use the Services only for its own
                Non-Commercial Purposes. If you are a commercial entity (e.g., a genomic
                service provider (providing genomic services to third parties)) or a clinical
                service provider (using genomic analysis as a tool in clinical practice), then
                please contact GenomeNext directly to discuss the possibility of a separate access
                or license agreement.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Usernames and Passwords.</span></b><span style='font-size:10.0pt'>
                GenomeNext will provide each User a unique username
                and password to enable such User to access the Service pursuant to these Terms.
                “<b>Users</b>” mean your employees and consultants who are authorized to utilize
                the Services on your behalf and who are provided with access to the Services by
                virtue of a password or the equivalent thereof. We reserve the right to change
                or update these usernames and passwords in our sole discretion from time to
                time.  Each username and password may only be used to access the Services
                during one (1) concurrent login session.  You acknowledge and agree that only
                Users are entitled to access the Services with the username and password
                provided by us.  You will provide to us information and other assistance as
                necessary to enable us to establish usernames for Users, and you will verify
                all User requests for account passwords. You are responsible for maintaining
                the confidentiality of all Users’ usernames and passwords, and are solely
                responsible for all activities that occur under these usernames. 
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.4<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Trials</span></b><span style='font-size:10.0pt'>
                . The Services may be provided as a trial for your
                internal evaluation purposes only. Access provided under a trial is made
                available to you “AS IS”, AND, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE
                LAW, WE DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED,
                STATUTORY OR OTHERWISE, INCLUDING WITHOUT LIMITATION WARRANTIES OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR USE AND NONINFRINGEMENT REGARDING
                SUCH SERVICES.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.5<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Limitations.</span></b><span style='font-size:10.0pt'>
                You agrees that you and your Users will not: (a)
                permit any third party to access and/or use the Service, other than the Users;
                (b) rent, lease, loan, or sell access to the Services to any third party, including
                through “charge back” or any other selling, reselling, distributing or
                redistributing within your organization of any usage capacity you have purchased,
                without the prior express written approval of GenomeNext; (c) interfere with,
                disrupt, alter, translate, or modify the Services or any part thereof, or
                create an undue burden on the Services or the networks or services connected to
                the Service, including any external websites that are linked to via the
                Service; (d) reverse engineer, decompile, disassemble or otherwise attempt to
                obtain or perceive the source code from which any software component of the Services
                is compiled or interpreted, and you acknowledges that nothing in these Terms
                will be construed to grant you any right to obtain or use such code; (e) access
                the Services in order to build or create a derivative, competitive or similar
                product or service or copy any ideas, features, functions or graphics of the
                Service; (f) use the Services to stalk, harm and/or harass another; (g) access
                or use the Services in any manner that could damage, disable, overburden or
                impair any GenomeNext server or the networks connected to any GenomeNext
                server; (h) disable or circumvent any access control or related device, process
                or procedure established with respect to the Service; (i) use any robot, spider,
                site search/retrieval application, or other device to retrieve or index any
                portion of the Services or collect information for any unauthorized purpose;
                (j) use, or allow the use of, the Services for any unfair or deceptive
                practices or in contravention of any federal, state, local, foreign, or other
                applicable law, or rules and regulations of regulatory or administrative
                organizations. You shall undertake reasonable efforts to make all Users aware
                of the provisions of this Section; or (k) enter, store or transmit any
                infringing, libelous or otherwise unlawful or tortious information or material
                or transmit information or material in violation of third party privacy or
                other rights, in all such cases within, through, to or using the Service. You
                acknowledge and agree that the Services will not be used, and are not licensed
                for use, in connection with any time-critical or mission-critical functions. You
                will be responsible for acquiring, installing and maintaining all connectivity
                equipment, hardware, software and other equipment as may be necessary for it
                and its Users to connect to, access, and use the Service. Notwithstanding the
                foregoing, you may, print and use reports generated by the Services analyzing
                User Data in accordance with the documentation.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.6<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>IP Ownership</span></b><span style='font-size:10.0pt'>.</span><span style='font-size:10.0pt'>
                The Services and
                any of the GenomeNext’s proprietary content and technology, including software,
                hardware, products, processes, algorithms, user interfaces, know-how,
                technologies, designs and other tangible or intangible technical material or
                information made available to you by GenomeNext in providing the Services and
                as well as any intellectual property rights therein<b> </b>(the “<b>
                    GenomeNext
                    Technology
                </b>”) is the exclusive property of GenomeNext or its suppliers.
                Except as expressly set forth herein, no express or implied license or right of
                any kind is granted to you regarding the Services or the GenomeNext Technology<span style='color:black'>,</span> or any part thereof, including any right to obtain
                possession of any source code, data or other technical material relating to the
                GenomeNext Technology. All rights not expressly granted to you are reserved to
                GenomeNext. Ownership of all work product, developments, inventions, technology
                or materials provided by GenomeNext under these Terms will be solely owned by
                GenomeNext.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.7<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Feedback</span></b><span style='font-size:10.0pt'>
                . You may provide written evaluations of the Services upon
                GenomeNext’s reasonable request. GenomeNext, in its sole discretion, may
                utilize all comments and suggestions, whether written or oral, furnished by you
                or Users to GenomeNext in connection with the Services (all such comments and
                suggestions, collectively, “<b>Feedback</b>”). You hereby grant GenomeNext a
                worldwide, non-exclusive, irrevocable, perpetual, royalty-free right and
                license to incorporate the Feedback into GenomeNext products and services.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.8<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Modifications</span></b><span style='font-size:10.0pt'>
                . GenomeNext may change, suspend or discontinue any
                aspect of the Services at any time without notice or liability to you.
                GenomeNext may also impose limits on certain features and services or restrict your
                access to part of the Services without liability.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.9<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Third Party Content</span></b><span style='font-size:10.0pt'>
                . You may authorize GenomeNext to use one or more
                third party services to obtain Third Party Content through the Service,
                including by clicking on a feature that allows a specific Third Party Content to
                be accessed. You will ensure you have all necessary rights and licenses for you
                to obtain such Third Party Content (and to have GenomeNext access such Third
                Party Content on its behalf). In addition, because GenomeNext does not control
                such Third Party Content, you agree that: (a) GenomeNext is not responsible for
                any such Third Party Content; and (b) GenomeNext does not make any guarantees
                about the accuracy, currency, suitability, or quality of the information in
                such content, and does not assume responsibility for unintended, objectionable,
                inaccurate, misleading, or unlawful Third Party Content. GenomeNext makes no
                warranty, representation, endorsement, or guarantee regarding, and accept no
                responsibility for, the quality, content, nature or reliability of Third Party
                Content or any products or services referenced thereby.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                1.10<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Monitoring</span></b><span style='font-size:10.0pt'>
                .  We have the right, but not the obligation, to
                monitor our Services and User Data to determine compliance with these Terms of
                Service and any other applicable terms and conditions that we may establish. We
                have the right in our sole discretion to edit or remove any material submitted
                to or posted through our Services. When you use our Services on a mobile
                device, we may also collect location information from your mobile device. You
                hereby authorize us and our Services to take such actions and access your location-based
                information.
            </span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b><span style='font-size:10.0pt;text-transform:uppercase'>Payment.</span></b>
        </p>

        <p class=Legal2L2 style='margin-left:0in;page-break-after:avoid'>
            <span style='font-size:10.0pt'>
                2.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Fees</span></b><span style='font-size:10.0pt'>
                . You shall pay all fees or charges pursuant to the
                applicable fee schedule. All payments are due within thirty (30) days of the
                date of the invoice sent by GenomeNext. All payment obligations are
                non-cancelable and all amounts paid are nonrefundable. Any annual or
                subscription fee(s) for the first period (either month or year, as applicable)
                of the term of these Terms shall be paid on the Effective Date.  The annual or
                subscription fee for all subsequent periods of the term of these Terms shall be
                paid on the first day of each subsequent period (either month or year, as
                applicable).
            </span><span style='font-size:10.0pt;font-family:"Arial","sans-serif"'>
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                2.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Billing</span></b><span style='font-size:10.0pt'>
                .<b> </b>Any amounts not paid when due shall bear
                interest at the rate of one and one half percent (1.5%) per month, or the
                maximum legal rate, if less. GenomeNext’s fees are exclusive of all taxes,
                levies or duties imposed by taxing authorities, and Customer shall be
                responsible for payment of all such taxes, levies, or duties, excluding only
                United States taxes based solely on GenomeNext’s income. Customer agrees to
                provide GenomeNext with complete and accurate billing and contact information.
                Customer will update this information within thirty (30) days. Unless invoice
                billing is agreed upon by and between GenomeNext and Customer, Customer shall
                provide a valid credit card, ACH payment system information, bank account
                information authorized for automatic bill paying, or other acceptable method of
                payment to GenomeNext and shall take all necessary steps to authorize automatic
                payment of the fees. By agreeing to this Agreement, Customer hereby authorizes
                GenomeNext to automatically charge said method of payment for all fees during
                the term of this Agreement. If, for any reason, automatic payment shall be
                denied, then Customer shall pay the applicable fees, together with a $50.00
                fee, to GenomeNext within five (5) days of notice from GenomeNext.  Any
                additional payment terms between GenomeNext and Customer shall be agreed to in
                writing and set forth in an invoice, billing agreement, or other written
                document. YOU ARE RESPONSIBLE FOR THE TIMELY PAYMENT OF ALL FEES AND FOR
                PROVIDING GENOMENEXT WITH A VALID PAYMENT METHOD FOR PAYMENT OF ALL FEES
                THROUGH ONE OF THE METHODS THAT WE LIST ON OUR SERVICES OR SITE FROM TIME TO
                TIME.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in;page-break-after:avoid'>
            <span style='font-size:10.0pt'>
                2.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Suspension</span></b><span style='font-size:10.0pt'>.</span><span style='font-size:10.0pt'>
                GenomeNext
                will have the right, in addition to any of its other rights or remedies, to
                immediately suspend your access to the Service, without liability to you, if
            </span><span lang=EN-GB style='font-size:10.0pt'>
                any undisputed amount due under these Terms
                is not received by
            </span><span style='font-size:10.0pt'>GenomeNext </span><span lang=EN-GB style='font-size:10.0pt'>within fifteen (15) days after</span><span style='font-size:10.0pt'>GenomeNext</span><span lang=EN-GB style='font-size:
10.0pt'>provided notice that such amount was overdue</span><span style='font-size:10.0pt'>.</span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
                <b>
                    <span style='font-size:10.0pt;text-transform:uppercase'>
                        3.<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </b><b>
                    <span style='font-size:10.0pt;text-transform:uppercase'>
                        USER DATA.
                    </span>
                </b>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                3.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>User Data</span></b><span style='font-size:10.0pt'>
                .<b> </b>In connection with the Service, GenomeNext
                may collect and/or create User Data. “<b>User Data</b>” means all data you submit,
                post, upload or provide to or through the Services, including genomic
                sequences, exomes, variant files, specific DNA sequences, sample information,
                annotations, gene sets and variant sets, and any output produced by GenomeNext.
                As between the Parties, you own your User Data. You acknowledge that GenomeNext
                may use the User Data, and you grant GenomeNext a license to: (i) use the User
                Data to provide Services to you under these Terms; (b) develop, modify, use and
                improve the Services or other genomic software analysis products or tools on a
                perpetual basis; (c) on a perpetual basis, (i) use, display, modify and create
                derivative works of the User Data to create and compile Aggregate Data; and
                (ii) copy, display, disclose, modify, publish and distribute the Aggregate
                Data. “<b><i>Aggregate Data</i></b>” means aggregated statistics and/or data
                created or derived by GenomeNext from User Data or the provision of the
                Service, including regarding genomic analysis and enhanced annotations and
                database information within the Services and other genomic analysis products or
                tools of GenomeNext, provided that such Aggregate does not identify or permit
                identification of you.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                3.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Your Commitment</span></b><span style='font-size:10.0pt'>
                . You will use the Services in compliance with all
                applicable laws and regulations. You will procure all rights, consents and
                privileges to obtain and transfer data to GenomeNext under the terms of these
                Terms including the User Data. The provision of such data from you to
                GenomeNext shall be in compliance with all applicable laws and regulations,
                including all privacy laws and regulations. You hereby represent and warrant
                that you own or otherwise have sufficient right to grant GenomeNext access to
                and use of the User Data in accordance with the terms of these Terms. You shall
                be solely responsible for and assume the risk, responsibility and expense of
                any problems resulting from, the accuracy, quality, integrity, legality,
                reliability, and appropriateness of all such User Data<i>.</i>
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                3.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Data Loss</span></b><span style='font-size:10.0pt'>
                .<b> </b>During the Term, GenomeNext will use
                commercially reasonable efforts to protect the User Data. Notwithstanding the
                foregoing, GenomeNext recommends that you download backup copies of User Data
                from on the Services on a regular basis. You agree that GenomeNext may (but has
                no obligation to), in GenomeNext’s sole discretion, remove or modify any User
                Data which it deems to violate these Terms. In the event of a loss of User Data
                caused by GenomeNext’s negligence or willful misconduct, GenomeNext will use
                commercially reasonable efforts to recover the User Data within ninety-six (96)
                hours of notification of loss. However, GenomeNext is not obligated to back up
                User Data, so the recovery may or may not be possible. If GenomeNext performs
                recovery services for a loss of User Data not caused by GenomeNext, you agree
                to pay GenomeNext’s then-current time and materials rate to recover the User
                Data. The foregoing constitutes your sole and exclusive remedy for any loss of
                User Data.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                3.4<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>No Personal Health Data</span></b><span style='font-size:10.0pt'>
                . We do not purposefully collect, and you will not
                upload, submit, post or otherwise provide, any personal health information (or
                other personally identifying information for the individuals from which the
                User Data is derived), including “individually identifiable information” as
                that term is defined in the Health Insurance Portability and Accountability Act
                of 1996 (“<b>HIPAA</b>”) and “personal data” as that is defined in the EU
                Privacy Directive. We disclaim all responsibility or liability with respect to
                any such information. Unless otherwise agreed by you and GenomeNext in a
                separate written agreement or written addendum, you will not upload, submit,
                transfer, or store any personal health information on or through our Services.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                3.5<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Required Disclosures.</span></b><span style='font-size:10.0pt'>
                You acknowledge and agree that GenomeNext may store
                and/or preserve User Data and may also disclose User Data and/or other
                information provided by you if required to do so by law or in the good faith
                belief that such preservation or disclosure is reasonably necessary to: (a)
                comply with legal process; (b) enforce the terms of these Terms of Service; (c)
                respond to claims that any User Data violates the rights of third-parties in
                accordance with these Terms of Service; and/or (d) protect the rights,
                property, or personal safety of GenomeNext, its representatives and/or agents,
                its users or the public.
            </span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    4.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b>
                <span lang=EN-GB style='font-size:10.0pt'>
                    FOR RESEARCH USE
                    ONLY (RUO): NOT INTENDED FOR ANY ANIMAL OR HUMAN THERAPEUTIC OR DIAGNOSTIC USE
                </span>
            </b><span lang=EN-GB style='font-size:10.0pt'>
                .<b> </b>You acknowledges that the Services
                have not been cleared, approved, registered or otherwise qualified
                (collectively, “<b>Approval</b>”) by GenomeNext with any regulatory agency for
                use in diagnostic or therapeutic procedures, or for any other use requiring
                compliance with any federal or state law regulating diagnostic or therapeutic
                products, blood products, medical devices or any similar product (hereafter
                collectively referred to as &quot;federal or state drug laws&quot;). The Services
                may not be used for any purpose that would require any such Approval unless
                proper Approval is obtained. You agree that if you elect to use the Services for
                a purpose that would subject you or the Services to the jurisdiction of any
                federal or state drug laws, you will be solely responsible for obtaining any
                required Approvals and otherwise ensuring that <span style='color:black'>your</span>
                use of the Services complies with such laws. The information supplied through
                the Services or by any employee or agent of GenomeNext, whether by telephone,
                email, letter, facsimile, or other form of communication, is for informational
                purposes only and does not constitute medical, legal or other professional
                advice. Genomic information provided through the Services is not a substitute
                for medical advice and should not be used to diagnose or treat health problems
                or to prescribe any medication, medical devices, or other remedies. The
                information on the Services may be presented in conclusory, shorthand, or
                summary form and is not intended to supplant medical advice provided by any
                physician or other healthcare provider or any information included by the
                manufacturer with or on any product. The receipt of any questions or feedback
                that you submit to GenomeNext does not create a professional relationship. You
                shall be responsible for using administrative, physical and technical
                safeguards at all times to maintain and ensure the confidentiality, privacy and
                security of all User Data, before and during the transmission of such User Data
                to the Service; and shall obtain any consent or authorization that may be
                required by applicable federal or state laws and regulations prior to
                submitting the User Data for use and disclosure in accordance with these Terms. 
                Notwithstanding the foregoing, you acknowledge that the Services will not be
                used for in vitro screening of embryos or screening of fetal samples.
            </span>
        </p>

        <p class=Legal2L1>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    5.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b><span style='font-size:10.0pt;text-transform:uppercase'>Disclaimer.</span></b>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                5.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Disclaimer.</span></b><span style='font-size:10.0pt'>
                TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
                THE SERVICE IS PROVIDED <b>“</b>AS IS,<b>”</b> AND GENOMENEXT MAKES NO (AND
                HEREBY DISCLAIMS ALL) WARRANTIES, REPRESENTATIONS, OR CONDITIONS, WHETHER
                WRITTEN, ORAL, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, WITHOUT LIMITATION,
                ANY IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NONINFRINGEMENT, OR FITNESS
                FOR A PARTICULAR PURPOSE, WITH RESPECT TO THE USE, MISUSE, OR INABILITY TO USE
                THE <span style='color:black'>SERVICE</span> (IN WHOLE OR IN PART) OR ANY OTHER
                PRODUCTS OR SERVICES PROVIDED TO YOU BY GENOMENEXT.  GENOMENEXT DOES NOT
                WARRANT THAT ALL ERRORS CAN BE CORRECTED, OR THAT OPERATION OF THE SERVICES
                SHALL BE UNINTERRUPTED OR ERROR-FREE. 
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                5.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Specific Disclaimer</span></b><span style='font-size:10.0pt'>
                . YOU ACKNOWLEDGE AND AGREE THAT THE SERVICE IS NOT
                INTENDED TO BE MEDICAL ADVICE OR INSTRUCTIONS FOR MEDICAL DIAGNOSIS, TREATMENT
                OR CARE OF PERSONS, AND NO PHYSICIAN-PATIENT RELATIONSHIP IS, OR IS INTENDED TO
                BE, CREATED BY THE SERVICES. THE SERVICES ARE NOT A SUBSTITUTE FOR PROFESSIONAL
                MEDICAL ADVICE, EXAMINATION, DIAGNOSIS OR TREATMENT AND SHOULD NOT BE USED TO
                DIAGNOSE, TREAT, CURE, OR PREVENT DISEASE WITHOUT SUPERVISION OF A DOCTOR OR
                QUALIFIED HEALTHCARE PROVIDER. THE SERVICES ARE INTENDED FOR REFERENCE AND
                DECISION SUPPORT PURPOSES ONLY.  THE SERVICES ARE NOT TO BE USED DIRECTLY FOR
                TREATMENT OR THERAPEUTIC DECISION-MAKING, AND UNDER NO CIRCUMSTANCES REPRESENT
                GENOMENEXT RECOMMENDATIONS.  YOU ACKNOWLEDGE AND AGREE THAT THE SERVICES ARE
                NOT INTENDED TO BE STATEMENTS OF FACT OR TRUTH.  GENOMENEXT ASSUMES NO
                RESPONSIBILITY FOR THE ACCURACY OF THE CONTENT UNDERLYING THE SERVICES OR
                INSIGHTS OR FOR THE OPINIONS AND RECOMMENDATIONS UPON WHICH THE SERVICES MAY BE
                BASED.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                5.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Internet Delays.</span></b><span style='font-size:10.0pt'>
                THE SERVICES MAY BE SUBJECT TO LIMITATIONS, DELAYS,
                AND OTHER PROBLEMS INHERENT IN THE USE OF THE INTERNET AND ELECTRONIC
                COMMUNICATIONS.  GENOMENEXT IS NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY
                FAILURES OR OTHER DAMAGES RESULTING FROM SUCH PROBLEMS.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                5.4<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>International Use</span></b><span style='font-size:10.0pt'>
                . The Site and Services can be accessed from countries
                around the world and may contain references to Services that are not available
                in your country.  These references do not imply that GenomeNext intends to
                announce such Services in your country.  The Site and Services are controlled
                and offered by GenomeNext from its facilities in the United States of America. GenomeNext
                makes no representations that the Site and Services are appropriate or
                available for use in other locations.  Those who access or use the Site and
                Services from other jurisdictions do so at their own volition and are
                responsible for compliance with local law.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                5.5<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Third Party Links.</span></b><span style='font-size:10.0pt'>
                Our Services and Site may provide you with the
                ability to link to external sites, or download content from third party sites,
                from time to time. Such external links on our Services and Site will lead to
                other websites, including advertised products or content sold or otherwise made
                available by outside vendors and companies. We provide any such links as a
                convenience to you. We are not liable for the content, goods, services,
                advertising, or other materials found on any external websites. Although we may
                display ads and may have an affiliate referral relationship with third parties,
                we do not own or control outside companies selling products accessed through
                our Services or Site, and are not responsible or liable for their company
                policies or the quality of their merchandise or services. Before buying
                anything, users are advised to carefully investigate the individual company
                policies of all online purchases that they intend to make. Any logo of a third
                party used on the Site is a trademark of such third party or its affiliates.
            </span>
        </p>

        <p class=Legal2L1>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    6.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    Limitation
                    of Liability.
                </span>
            </b>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                6.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Types of Damages</span></b><b>
                <span style='font-size:10.0pt'>.</span>
            </b><span style='font-size:10.0pt'>
                TO THE
                EXTENT LEGALLY PERMITTED UNDER APPLICABLE LAW, IN NO EVENT SHALL GENOMENEXT, OR
                ITS SUPPLIERS, BE LIABLE TO YOU FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR
                CONSEQUENTIAL DAMAGES, INCLUDING DAMAGES OR COSTS DUE TO LOSS OF PROFITS, DATA,
                USE OR GOODWILL, PERSONAL OR PROPERTY DAMAGE RESULTING FROM OR IN CONNECTION
                WITH GENOMENEXT’S PERFORMANCE HEREUNDER OR THE USE, MISUSE, OR INABILITY TO USE
                THE <span style='color:black'>SERVICES</span> OR OTHER PRODUCTS OR SERVICES
                HEREUNDER, REGARDLESS OF THE CAUSE OF ACTION OR THE THEORY OF LIABILITY,
                WHETHER IN TORT, CONTRACT, OR OTHERWISE, EVEN IF GENOMENEXT HAS BEEN NOTIFIED
                OF THE LIKELIHOOD OF SUCH DAMAGES.  IN NO EVENT SHALL GENOMENEXT BE LIABLE FOR
                PROCUREMENT COSTS OF SUBSTITUTE PRODUCTS OR SERVICES.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                6.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Amount of Damages.</span></b><span style='font-size:10.0pt'>
                THE MAXIMUM LIABILITY OF GENOMENEXT ARISING OUT OF
                OR IN ANY WAY CONNECTED TO THESE TERMS SHALL NOT EXCEED THE GREATER OF: (I) THE
                FEES PAID BY YOU TO GENOMENEXT DURING THE TWELVE (12) MONTHS IMMEDIATELY
                PRECEDING THE CLAIM; OR (II) TEN DOLLARS ($10.00).  <span style='color:black'>
                    THE
                    EXISTENCE OF ONE OR MORE CLAIMS UNDER THESE TERMS WILL NOT INCREASE
                </span>GENOMENEXT<span style='color:black'>’S LIABILITY.  IN NO EVENT SHALL</span>GENOMENEXT<span style='color:black'>’S SUPPLIERS HAVE ANY LIABILITY</span>ARISING OUT OF OR IN
                ANY WAY CONNECTED TO THESE TERMS. 
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                6.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Limitations Period.  </span></b><span style='font-size:10.0pt'>
                YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR
                RELATED TO THE TERMS, THE SITE, OR THE SERVICES MUST COMMENCE WITHIN ONE (1)
                YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS
                PERMANENTLY BARRED.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                6.4<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Basis of the Bargain.</span></b><span style='font-size:10.0pt'>
                The parties agree that the limitations of liability
                set forth in this section shall survive and continue in full force and effect
                despite any failure of consideration or of an exclusive remedy.  The parties
                acknowledge that the prices have been set and the Agreement entered into in
                reliance upon these limitations of liability and that all such limitations form
                an essential basis of the bargain between the parties.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                6.5<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Additional Rights.</span></b><span style='font-size:10.0pt'>
                Certain states and/or jurisdictions do not allow the
                exclusion of implied warranties or limitation of liability for incidental,
                consequential or certain other types of damages, so the exclusions set forth
                above may not apply to you.
            </span>
        </p>

        <p class=Legal2L1 style='margin-left:0in;text-indent:0in'>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    7.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    Indemnification.
                </span>
            </b><span style='font-size:10.0pt'>
                You agree to indemnify and defend GenomeNext,
                its licensors, its affiliates, officers, directors, employees and agents
                against any third party claims arising from or related to your: (a) use or
                misuse of the Services; (b) your User Data; (c) any breach of the terms and
                conditions of this Agreement; (d) your violation of any applicable laws, rules
                or regulations in connection with your use of the Services or User Data; or (e)
                your violation of any third party right, including without limitation any
                intellectual property, publicity, confidentiality, property or privacy right in
                connection with your use of the Services or User Data. You agree to pay all
                costs, losses, damages, and attorneys’ fees that a court finally awards, and
                all associated settlements.
            </span>
        </p>

        <p class=Legal2L1 style='page-break-after:avoid'>
            <b>
                <span style='font-size:
10.0pt;text-transform:uppercase'>
                    8.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b><span style='font-size:10.0pt;text-transform:uppercase'>Termination.</span></b>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                8.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Term</span></b><span style='font-size:10.0pt'>
                . The Terms commence on the date when you accept them
                (as described in the preamble above) and remain in full force and effect while
                you use the Services, unless terminated earlier in accordance with the Terms. However,
                GenomeNext will not be required to render any access to you for Services unless
                you have paid the fees required for such access.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                8.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Termination by You</span></b><span style='font-size:10.0pt'>
                .  If you want to terminate your agreement with us,
                you may do so by (a) notifying us at any time; and (b) closing your accounts
                for the Service, where we have made this option available to you.  Your notice
                should be sent, in writing, to our address set forth below.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                8.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Termination by GenomeNext</span></b><span style='font-size:10.0pt'>
                .  We may at any time terminate its agreement with you
                if (a) you have breached any provision of these Terms (or have acted in a
                manner that clearly shows you do not intend to, or are unable to, comply with
                these Terms); (b) we are required to do so by law (for example, where the
                provision of the Site or Service to you is, or becomes, unlawful); (c) the
                provision of the Service to you by GenomeNext is, in our opinion, no longer
                commercially viable; or (d) for any other reason on thirty (30) days advance
                written notice to you.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                8.4<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Effect of Termination</span></b><span style='font-size:10.0pt'>
                . Termination of your account includes: (a) removal of
                access to all offerings within the Service; (b) deletion of your password and
                all related information; and (c) barring of further use of the Service. GenomeNext
                will have no obligation to refund, return or credit any amounts paid or payable
                to us. You are encouraged to retain copies of all your User Data. Except as may
                be required by applicable law, we will have no obligation to (but may in its
                sole discretion) store or maintain any User Data or other information stored in
                the Services or any other database related to your account or to forward any
                information to You or any third party.
            </span><span style='font-size:11.0pt'> </span><span style='font-size:10.0pt'>
                However, the sections titled <i>IP Ownership</i>, <i>Feedback</i>,
                <i>Payment</i>, <i>User Data</i> <i>Content Loss</i>, <i>Disclaimer</i>, <i>
                    Limitation
                    of Liability
                </i>, <i>Indemnification</i>, <i>Termination</i> and <i>Miscellaneous</i>
                of these Terms will survive any termination of the Terms.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                8.5<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>No Subsequent Registration</span></b><span style='font-size:10.0pt'>
                .  If your registration(s) with or ability to access
                the Services is discontinued by us due to your violation of any portion of the
                Terms or for conduct otherwise inappropriate for the community, then you agree
                that you shall not attempt to re-register with or access the Services through
                use of a different member name or otherwise, and you acknowledge that you will
                not be entitled to receive a refund for fees related to those Services to which
                your access has been terminated.  In the event that you violate the immediately
                preceding sentence, GenomeNext reserves the right, in its sole discretion, to
                immediately take any or all of the actions set forth herein without any notice
                or warning to you.
            </span>
        </p>

        <p class=Legal2L1>
            <b>
                <span style='font-size:10.0pt;text-transform:uppercase'>
                    9.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </b><b><span style='font-size:10.0pt;text-transform:uppercase'>Miscellaneous.</span></b>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.1<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Governing Law and Venue.</span></b><span style='font-size:10.0pt'>
                These Terms and any action related thereto will be
                governed and interpreted by and under the laws of the State of Delaware,
                without giving effect to any conflicts of laws principles that require the
                application of the law of a different jurisdiction. You hereby expressly consent
                to the personal jurisdiction and venue in the state and federal courts for the
                county in Delaware.  The United Nations Convention on Contracts for the
                International Sale of Goods does not apply to these Terms. The laws of the
                jurisdiction where you are located may be different from California law. You
                shall always comply with all international and domestic laws, ordinances,
                regulations, and statutes that are applicable to its purchase and use of the <span style='color:black'>Services</span>hereunder.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.2<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Export. </span></b><span style='font-size:10.0pt'>
                These Terms are expressly made subject to any United
                States government laws, regulations, orders or other restrictions regarding
                export from the United States and re-export from other jurisdictions of
                equipment, computer hardware, software, technical data and information or derivatives
                of such equipment, hardware, software or technical data and information. You
                agree to comply with all applicable export and re-export control laws and
                regulations in regard to products (including computer hardware, software,
                deliverables, technical data, source code, or any other technology, equipment,
                and/or derivatives of such hardware, software, deliverables, technical data,
                source code, equipment, or any other technology) received from GenomeNext. You
                further certify that you will not, directly or indirectly, without obtaining
                prior authorization from the competent government authorities as required by
                those laws and regulations: (a) sell, export, re-export, transfer, divert, or
                disclose technical data or dispose of any product or technology received from GenomeNext
                to any prohibited person, entity, or destination; or (b) use the product or
                technology for any use prohibited by the laws or regulations of the United
                States. You will reasonably cooperate with GenomeNext and will provide to GenomeNext
                promptly upon request any certificates or documents as are reasonably requested
                to obtain approvals, consents, licenses and/or permits required for any payment
                or any export or import of products or services under this Agreement, at GenomeNext’s
                expense. Your breach of this provision is a material breach.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.3<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Local Laws.  </span></b><span style='font-size:10.0pt'>
                GenomeNext and its suppliers make no representation
                that the Services are appropriate or available for use in locations other than
                the United States.  If you use the Services from outside the United States, you
                are solely responsible for compliance with all applicable laws, including
                without limitation export and import regulations of other countries.  Any
                diversion of the Content contrary to United States law is prohibited.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.4<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Severability.  </span></b><span style='font-size:10.0pt;layout-grid-mode:line'>
                If any provision of these Terms
                is, for any reason, held to be invalid or unenforceable, the other provisions
                of these Terms will remain enforceable and the invalid or unenforceable
                provision will be deemed modified so that it is valid and enforceable to the maximum
                extent permitted by law. 
            </span><span style='font-size:10.0pt'>
                Without
                limiting the generality of the foregoing, you agree that the section titled <i>
                    Limitation
                    of Liability
                </i> will remain in effect notwithstanding the unenforceability of
                any provision in the section titled <i>Disclaimer</i>.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.5<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Waiver.</span></b><span style='font-size:10.0pt'>
                Any waiver or failure to enforce any provision of
                these Terms on one occasion will not be deemed a waiver of any other provision
                or of such provision on any other occasion.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.6<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Remedies.</span></b><span style='font-size:10.0pt'>
                The parties acknowledge that any actual or
                threatened breach of the section titled <i>Access Grant and Restrictions </i>will
                constitute immediate, irreparable harm to the non-breaching party for which
                monetary damages would be an inadequate remedy, and that injunctive relief is
                an appropriate remedy for such breach.  If any legal action is brought to
                enforce these Terms, the prevailing party will be entitled to receive its
                attorneys’ fees, court costs, and other collection expenses, in addition to any
                other relief it may receive.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.7<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>No Assignment.</span></b><span style='font-size:10.0pt'>
                Neither party shall assign, subcontract, delegate,
                or otherwise transfer these Terms, or its rights and obligations herein,
                without obtaining the prior written consent of the other party, and any
                attempted assignment, subcontract, delegation, or transfer in violation of the
                foregoing will be null and void; provided, however, that either party may
                assign these Terms in connection with a merger, acquisition, reorganization or
                sale of all or substantially all of its assets, or other operation of law,
                without any consent of the other party.  These Terms shall be binding upon the
                parties and their respective successors and permitted assigns.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.8<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Force Majeure.</span></b><span style='font-size:10.0pt'>
                Any delay in the performance of any duties or
                obligations of either party (except the payment of money owed) will not be
                considered a breach of these Terms if such delay is caused by a labor dispute,
                shortage of materials, fire, earthquake, flood, or any other event beyond the
                control of such party, provided that such party uses reasonable efforts, under
                the circumstances, to notify the other party of the cause of such delay and to
                resume performance as soon as possible.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.9<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Independent Contractors.</span></b><span style='font-size:10.0pt'>
                Your relationship to GenomeNext is that of an
                independent contractor, and neither party is an agent or partner of the other.
                You will not have, and will not represent to any third party that it has, any
                authority to act on behalf of GenomeNext.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.10<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Notices.</span></b><span style='font-size:10.0pt'>
                You are responsible for updating your data to
                provide GenomeNext with your most current email address.  In the event that the
                last email address you have provided to GenomeNext is not valid, or for any
                reason is not capable of delivering to you any notices required by these Terms,
                GenomeNext’s dispatch of the email containing such notice will nonetheless
                constitute effective notice of the changes described on the notice.  Any notice
                provided to GenomeNext pursuant to these Terms should be sent to GenomeNext,
                LLC, 175 South 3<sup>rd</sup> Street, Suite 200, Columbus, Ohio 43215.
            </span><span style='font-size:10.0pt'></span><span style='font-size:10.0pt'>
                The
                communications between you and GenomeNext relating to the Services may use
                electronic means. For contractual purposes, you: (a) consent to receive
                communications from GenomeNext in an electronic form, whether via email or
                posting on the Services or other reasonable means; and (b) agree that all terms
                and conditions, agreements, notices, disclosures, and other communications that
                GenomeNext provides to you electronically satisfy any legal requirement that
                such communications would satisfy if they were in a print-on-paper writing.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.11<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Entire Agreement.</span></b><span style='font-size:10.0pt'>
                These Terms are the final, complete and exclusive
                agreement of the parties with respect to the subject matters hereof and
                supersede and merge all prior discussions between the parties with respect to
                such subject matters. No modification of or amendment to these Terms, or any
                waiver of any rights under these Terms, will be effective unless in writing and
                signed by an authorized signatory of you and an officer of GenomeNext.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.12<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Release</span></b><span style='font-size:10.0pt'>
                .  To the maximum extent permitted by law, you hereby
                release GenomeNext and its licensors, its affiliates, officers, directors,
                employees and agents from claims, demands, any and all losses, damages, rights,
                and actions of any kind, including personal injuries, death, and property
                damage, that is either directly or indirectly related to or arises from your
                use of the Services.  If you are a California resident, you hereby waive
                California Civil Code Section 1542, which states, “A general release does not
                extend to claims which the creditor does not know or suspect to exist in his
                favor at the time of executing the release, which, if known by him must have
                materially affected his settlement with the debtor.
            </span>
        </p>

        <p class=Legal2L2 style='margin-left:0in'>
            <span style='font-size:10.0pt'>
                9.13<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><b><span style='font-size:10.0pt'>Government End Users</span></b><span style='font-size:10.0pt'>
                . Each of the Services and any related documentation
                is a “commercial item” as that term is defined at 48 C.F.R. 2.101, consisting
                of “commercial computer software” and “commercial computer software
                documentation” as such terms are used in 48 C.F.R. 12.212.  Consistent with 48
                C.F.R. 12.212 and 48 C.F.R. 227.7202-1 through 227.7202-4, all U.S. Government
                end users acquire the rights to access the Service and the documentation with
                only those rights set forth herein..
            </span>
        </p>

        <p class=Legal2L2 style='margin-bottom:6.0pt;text-indent:0in'>
            <span style='font-size:10.0pt'>&nbsp;</span>
        </p>

    </div>

</div>